<!DOCTYPE html>
<html>
<head>
    <title>EntrepreneursForFuture Global Strike Commitment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="EntrepreneursForFuture International Email Forms">
    <meta name="keywords" content="EntrepreneursForFuture International">

    {% block styles %}
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
        <style type="text/css">
            div label.required:after
            {
                color: red;
                content: " *";
            }
            .mt-20 {
                margin-top: 20px;
            }
            .mb-20 {
                margin-bottom: 20px;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
