<h1>Email Verification</h1>
<p>
    Thanky you, {{ subscription.contactName }} for {{ subscription.companyName }}. Please click on the following link to verify, that you signed the commitment for the global strike on 20th of september:
    <a href="{{ url('campaign_verification', {'token': token}) }}">{{ url('campaign_verification', {'token': token}) }}</a>
</p>

