{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="templateContainer">
        {% if error is defined %}
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger">
                        <strong>Error:</strong>&nbsp;{{ error }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col mt-20">
                <h1 class="masthead">EntrepreneursForFuture</h1>
                <div id="subscribeFormWelcome"><strong>Thank you for supporting the Entrepreneurs For Future Global Strike day!&nbsp;</strong><br>
                    We invite:<br>
                    – all entrepreneurs<br>

                    <br>
                    <strong>IMPORTANT: By adding your name and email address, you are&nbsp;signing the declaration&nbsp;below. Your company name,
                        city, address and country (but not the email address&nbsp;or other information) will be published.&nbsp;</strong><br>
                    <br>

                    <p>AUTHORS: </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-20">
                {{ form_start(form) }}
                {{ form_row(form.companyName) }}
                {{ form_row(form.contactName) }}
                {{ form_row(form.contactMail) }}
                {{ form_row(form.department) }}
                {{ form_row(form.city) }}
                {{ form_row(form.state) }}
                {{ form_row(form.address) }}
                {{ form_row(form.country) }}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            {{ form_errors(form.isDataPolicyAccepted) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            {{ form_widget(form.isDataPolicyAccepted) }}
                        </div>
                        <div class="col-11">
                            <p>
                                I agree that my personal data are processed by Entrepreneurs for Future for the purpose of this campaign and the publication
                                together with this declaration. Further information about data privacy can be found in our <a
                                        href="{{ path('data_policy') }}">Privacy Policy</a>.
                            </p>
                        </div>
                    </div>
                </div>
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
